<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員詳細</title>
	<link rel="stylesheet" th:href="@{/css/emp/detail.css}">
</head>

<body>
	<header class>
		<div th:replace="~{common/header :: header}"></div>
	</header>
	<div class="container">
		<h2>従業員詳細</h2>
		<table th:object="${emp}">
			<tr>
				<th>社員番号</th>
				<td th:text="${emp.enumber}"></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td th:text="${emp.ename}"></td>
			</tr>
			<tr>
				<th>入社日</th>
				<td th:text="${emp.hireDate}"></td>
			</tr>
			<tr>
				<th>部署</th>
				<td th:text="${emp.deptId}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="${emp.telNumber}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td th:text="${emp.email}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text="${emp.address}"></td>
			</tr>
		</table>
		<a th:href="@{/employees/{id}(id=${emp.deptId})}">一覧に戻る</a>
	</div>
</body>

</html>