<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員更新</title>
	<link rel="stylesheet" th:href="@{/css/emp/edit.css}">
</head>

<body>
	<header>
		<div th:replace="~{common/header :: header}"></div>
	</header>
	<div class="container">
		<h2>従業員編集</h2>
		<form th:action="@{/employees/{id}/edit(id=${id})}" method="post" th:object="${empForm}">
			<div class="form-group">
				<label>社員番号</label>
				<input type="text" th:field="*{enumber}">
				<div class="error" th:if="${#fields.hasErrors('enumber')}" th:errors="*{enumber}"></div>
				<div class="notice-area" th:if="${error}" th:text="${error}"></div>
			</div>
			<div class="form-group">
				<label>氏名</label>
				<input type="text" th:field="*{ename}">
				<div class="error" th:if="${#fields.hasErrors('ename')}" th:errors="*{ename}"></div>
			</div>
			<div class="form-group">
				<label>入社日</label>
				<input type="date" th:field="*{hireDate}">
				<div class="error" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></div>
			</div>
			<div class="form-group">
				<label>部署</label>
				<select th:field="*{deptId}">
					<option value="">--選択してください--</option>
					<option th:each="dept :${depts}" th:value="${dept.id}" th:text="${dept.dname}"></option>
				</select>
				<div class="error" th:if="${#fields.hasErrors('deptId')}" th:errors="*{deptId}"></div>
			</div>
			<div class="form-group">
				<label>電話番号</label>
				<input type="tel" th:field="*{telNumber}">
				<div class="error" th:if="${telNumber == '00000000000'}" th:errors="*{telNumber}"></div>
				<div class="error" th:if="${#fields.hasErrors('telNumber')}" th:errors="*{telNumber}"></div>
			</div>
			<div class="form-group">
				<label>メールアドレス</label>
				<input type="email" th:field="*{email}">
				<div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label>住所</label>
				<input type="text" th:field="*{address}">
				<div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
			</div>
			<div class="btn-area">
				<button type="submit">更新</button>
				<a th:href="@{/employees/{id}(id=${empForm.deptId})}">キャンセル</a>
			</div>
		</form>
	</div>
</body>

</html>