<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員一覧</title>
	<link rel="stylesheet" th:href="@{/css/emp/list.css}">
</head>

<body>
	<header>
		<div th:replace="~{common/header :: header}"></div>
	</header>

	<div class="container">
		<div class="head">
			<svg width="50" height="40" fill="var(--brand-color)" viewBox="0 0 24 24">
			    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
			</svg>
			<h2>	従業員一覧</h2>
		</div>
		
		<div class="notice-area" th:if="${notice}" th:text="${notice}"></div>
		<div class="action-area" th:if="${session.loginUser.adminFlg == 1}">
			<a th:href="@{/employees/{deptId}/new(deptId=${deptId})}">従業員登録</a>
		</div>

		<table th:if="${not #lists.isEmpty(emps)}">
			<thead>
				<th>社員番号</th>
				<th>氏名</th>
				<th>入社日</th>
				<th>部署</th>
				<th th:if="${session.loginUser.adminFlg == 1}">編集</th>
				<th th:if="${session.loginUser.adminFlg == 1}">削除</th>
			</thead>
			<tbody>
				<tr th:each="emp : ${emps}">
					<td th:text="${emp.enumber}"></td>
					<td><a th:href="@{/employees/{id}/detail(id=${emp.id})}" th:text="${emp.ename}"></a></td>
					<td th:text="${emp.hireDate}"></td>
					<td th:text="${emp.dname}"></td>
					<td th:if="${session.loginUser.adminFlg == 1}">
						<form method="get" th:action="@{/employees/{id}/edit(id=${emp.id})}">
							<button type="submit">編集</button>
						</form>
					</td>
					<td th:if="${session.loginUser.adminFlg == 1}">
						<form method="post" th:action="@{/employees/{id}/delete(id=${emp.id})}"
							onsubmit="return confirm('本当に削除しますか？');">
							<button type="submit">削除</button>
						</form>
					</td>
					</tr>
			</tbody>
		</table>

		<div th:if="${#lists.isEmpty(emps)}" class="error">
			<p>従業員見つかりません。</p>
		</div>

		<a th:href="@{/depts}">部署一覧</a>
	</div>
</body>

</html>