<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/login/login.css}">}
</head>

<body>

	<div class="container">
		<h3>従業員管理システム</h3>

		<div th:if="${error}" class="error" th:text="${error}"></div>

		<form th:action="@{/login}" th:object="${loginForm}" method="post">
			<div class="form-group">
				<label>ユーザーID</label><br>
				<input type="text" th:field="*{userId}"  maxlength="30" />
				<div class="error" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
			</div>

			<div class="form-group">
				<label>パスワード</label><br>
				<input type="password" th:field="*{password}"  maxlength="30" />
				<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>

			<button type="submit">ログイン</button>
		</form>
	</div>

</body>

</html>