.theme-blue {
	--brand-color: #F29559;
	--darkest-color: #202C39;
	--dark-color: #283845;
	--mid-color: #8197A9;
	--light-color: #D1DEE9;
	--lightest-color: #FFFFFF;
	--delete:#DA6464;
}

.theme-green {
	--brand-color: #BFCF90;
	--darkest-color: #29323E;
	--dark-color: #455161;
	--mid-color: #C0C8D4;
	--light-color: #ECF1DF;
	--lightest-color: #FFFFFF;
	--delete:#DA6464;

}

.theme-purple {
	--brand-color: #8F8AC0;
	--darkest-color: #0C121C;
	--dark-color: #1E293B;
	--mid-color: #B8BFC6;
	--light-color: #D6DEE7;
	--lightest-color: #FFFFFF;
	--delete:#DA6464;

}