body {
	font-family: sans-serif;
	margin: 40px;
	background-color: var(--darkest-color);
	transition: all 0.3s ease;
}
/* Detail Container */
.container {
	width: 98%;
	max-width: 800px;
	margin: 0 auto;
	background: var(--dark-color);
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h2 {
	color: var(--brand-color);
	border-bottom: 3px solid var(--brand-color);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.notice-area {
	text-align: center;
	color: var(--lightest-color);
	font-weight: bold;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--mid-color);
	border-radius: 6px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	background-color: var(--dark-color);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

th,
td {
	border: 1px var(--mid-color);
	padding: 12px;
	text-align: left;
}

th {
	background-color: var(--darkest-color);
	color: var(--brand-color);
	font-weight: 600;
	width: 30%;
}

td {
	color: var(--lightest-color);
	background-color: var(--dark-color);
}

a {
	display: inline-block;
	margin-top: 20px;
	background-color: var(--brand-color);
	color: var(--darkest-color);
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 6px;
	font-weight: bold;
	transition: all 0.3s ease;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

a:hover {
	background-color: var(--mid-color);
	color: var(--darkest-color);
}